* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

main{
    height: 100%;
    width: 100%;
}
body{
    background-image: url("/WallP.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

